:root{
  --primary-color: #EEEEEE;
  --shadow-color: #bbc2cf;
  --hightlight-color: #DC5F00;
  --text-color: #373A40;
  --transition-time: 0.2s ease;
  --general-width: 1140px;
}

.App {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input{
  outline: none;
}
