.header-container{
  width: 100vw;
  height: 60px;
  background-color: var(--primary-color);
}

.header-bar{
  width: 1140px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-title{
  color: grey;
}

#search-container{
  border-radius: 18px;
  border: 2px solid gray;
  width: 400px; 
  background-color: white;
  display: flex;
  overflow: hidden;
}

#search-box{
  outline: none;
  border: none;
  padding: 8px 0 8px 24px;
  font-size: 16px;
  width: 100%;
}

#search-btn{
  border: none;
  background-color: white;
  height: 34px;
  width: 34px;
  cursor: pointer; 
}

#search-btn:hover .search-icon{
  opacity: 0.6;
  height: 18px;
}

.search-icon{
  height: 20px;
  color: grey;
  transition: var(--transition-time);
}

#sign-btn{
  text-decoration: none;
  color: grey;
  font-weight: 500;
  transition: var(--transition-time);
}

#sign-btn:hover{
  opacity: 0.6;
}

.user-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.user-btn{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 12px;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.user-container-icon{
  color: grey;
  height: 100%;
  width: 100%;
}

.user-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 0;
  width: max-content;
  padding-right: 0;
  position: relative;
}

.user-image{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
}

.user-name{
  font-size: 16px;
}

#user-pop-up{
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  background-color: white;
  border: 1px solid var(--shadow-color);
  border-radius: 4px;
  cursor: default;
  display: none;
}

.user-pop-up-list{
  list-style: none;
}

.user-pop-up-list{ 
  list-style: none;
  padding: 0;
  margin: 0;
  width: max-content;
}

.user-pop-up-item{
  height: 36px;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--shadow-color);
  margin: 0 12px;
  
}

.user-pop-up-item:last-child{
  border-bottom: 0;
}

.user-pop-up-item a{
  width: 100%;
  padding-right: 40px;
  transition: var(--transition-time);
}

.user-pop-up-item a:hover{
  color: grey;
}